{% extends 'base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center mt-5'>
  <div>
    <div class="mb-3">
      {% if person == request.user %}
      <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div id="profile-img" class="border rounded-circle position-relative">
          {% if person.image %}
          <img src="{{ person.image.url }}" alt="{{ person.username }}" class="rounded-circle position-absolute top-50 start-50 translate-middle profile-img">
          {% else %}
          <div class="rounded-circle position-absolute top-50 start-50 translate-middle">
            <i id="profile-image" class="bi bi-person"></i>
          </div>
          {% endif %}
        </div>
      </button>
      {% else %}
      <div class="border-0 bg-transparent">
        <div id="profile-img" class="border rounded-circle position-relative">
          {% if person.image %}
          <img src="{{ person.image.url }}" alt="" class="rounded-circle position-absolute top-50 start-50 translate-middle" style="width: 10rem; height: 10rem;">
          {% else %}
          <div class="rounded-circle position-absolute top-50 start-50 translate-middle">
            <i id="profile-image" class="bi bi-person"></i>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    {% if request.user != person %}
    <form id="follow-form" data-user-id="{{ person.pk }}">
      {% csrf_token %}
      {% if request.user in person.followers.all %}
      <input class="btn btn-sm btn-secondary w-100" type="submit" value="팔로잉">
      {% else %}  
      <input class="btn btn-sm btn-primary w-100" type="submit" value="팔로우">
      {% endif %}
    </form>
    {% else %}
    <a class="btn btn-sm btn-secondary w-100" href="{% url 'accounts:update' %}">프로필 편집</a>
    {% endif %}
    <div class="d-flex gap-3 mt-3">
      <button type="button" class="border-0 bg-transparent w-50" data-bs-toggle="modal" data-bs-target="#followers">
        팔로워 <span id="followers-count">{{ person.followers.all|length }}</span>
      </button>
      <button type="button" class="border-0 bg-transparent w-50" data-bs-toggle="modal" data-bs-target="#followings">
        팔로잉 <span id="followings-count">{{ person.followings.all|length }}</span>
      </button>
    </div>
  </div>
  
  <div class="mt-5">
    <table id="detail" class="table">    
      <tbody>
        <tr>
          <th scope="row">유저 이름</th>
          <td>{{ person.username }}</td>
        </tr>
        <tr>
          <th scope="row">이메일</th>
          <td>{{ person.email }}</td>
        </tr>
        <tr>
          <th scope="row">성</th>
          <td>{{ person.last_name }}</td>
        </tr>
        <tr>
          <th scope="row">이름</th>
          <td>{{ person.first_name }}</td>
        </tr>
        <tr>
          <th scope="row">생년월일</th>
          <td>{{ person.birthday }}</td>
        </tr>
        <tr>
          <th scope="row">마지막 로그인</th>
          <td>{{ person.last_login }}</td>
        </tr>
        <tr>
          <th scope="row">가입일</th>
          <td>{{ person.date_joined }}</td>
        </tr>
        <tr>
          <td class="border-0"></td>
          <td class="border-0">
            <div class="text-end">
              {% if user == person %}
              <form action="{% url 'accounts:delete' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">회원탈퇴</button>
              </form>
              {% endif %}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">프로필 이미지</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <form action="{% url 'accounts:image_upload' user.pk %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="input-group mb-3">
                <label class="input-group-text" for="image">사진</label>
                <input type="file" class="form-control" id="image" name="image">
                <input class="btn btn-primary" type="submit" value="제출">
              </div>
            </form>
            <div class="d-grid">
              <a class="btn btn-danger" href="{% url 'accounts:image_delete' user.pk %}">삭제</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% comment %} <!-- 팔로워 -->
  <div class="modal fade" id="followers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div></div>
          <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">팔로워</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for follower in person.followers.all %}
          <div class="d-flex justify-content-between align-items-center mb-2">
            <!--팔로워 프로필 이미지-->
            <div class="d-flex align-items-center gap-2">
              <div class="border rounded-circle position-relative profile-img-sm">
                {% if follower.image %}
                <a href="{% url 'accounts:profile' follower %}">
                  <img src="{{ follower.image.url }}" alt="{{ follower.username }}" class="rounded-circle profile-img-sm">
                </a>
                {% else %}
                <a href="{% url 'accounts:profile' follower %}">
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <i class="bi bi-person profile-img-sm"></i>
                  </div>
                </a>
                {% endif %}
              </div>
              <!--팔로워 이름-->
              <div class="d-flex flex-column">
                <a href="{% url 'accounts:profile' follower %}">{{ follower }}</a>
              </div>
            </div>
            {% if request.user != follower %}
            <form id="follow-form" data-user-id="{{ follower.pk }}">
              {% csrf_token %}
              {% if request.user in person.followers.all %}
              <input class="btn btn-sm btn-secondary w-100" type="submit" value="팔로잉">
              {% else %}  
              <input class="btn btn-sm btn-primary w-100" type="submit" value="팔로우">
              {% endif %}
            </form>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- 팔로잉 -->
  <div class="modal fade" id="followings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div></div>
          <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">팔로잉</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for following in person.followings.all %}
            {{ following.username }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div> {% endcomment %}
{% endblock content %}  